.nav-mode-text {
  color: var(--nav-link-color);
}

.nav-mode-list {
  background-color: var(--bg-navbar);
  border-color: var(--border-main);
}

.nav-mode-border {
  border-color: var(--border-main);
}
